/*Google Fonts Import - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Asterisk wildcard - removes standard styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;

}


.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}


/*left border with colour, for section headings*/
.left {
    border-left: 5px solid #F0CB83;
    padding: 0.5rem;
}

.center {
    text-align: center;
}


/*header styles*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*keep it fixed on top and always visible*/
    position: fixed;
    width: 100%;
    z-index: 100;
    align-items: normal;
    padding: 0 0.5rem;
    background-color: white;
}

header div {
    /*starts with an equal dimension of the divs in the header*/
    width: 50%;
    height: 3rem;
}

#logo-container img {
    width: 100%;
    max-width:160px;
}

/*Places the hamburger icon on the right end and style it*/
#menu-container {
    text-align: end;
    color: #CEC1E0;
}

/*Styles the header separator*/
header #separator {
    background-color: #CEC1E0;
    width: 100%;
    height: 1rem;
    align-self: baseline;
}

/*Rmoves standard styles from the menu items*/
header a {
    text-decoration: none;
}

/*Navbar styles with dropdown toggle (hamburger menu)*/
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    display: none;
    color: black;
    /*starts at the end of the parent element (header)*/
    top: 100%;

}

nav li {
    /*styles for the navbar elements*/
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5rem;
    width: 100%;
}

/*active position class styles*/
.active {
    background-color: #CEC1E0;
}

#nav-toggle:checked~nav {
    display: block;
    text-align: left;
}

.nav-toggle-label {
    font-size: 1.5rem;
    text-align: end;
}

/*eliminates the checkbox from the hamburger-menu icon*/
#nav-toggle {
    display: none;
}

/*Main content styles*/
main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    /*takes all the available space of the page*/
    flex: 1 0 auto;
}

#carousel-image {
    height: 100vw;
    background-image: url(../images/Carousel_Image_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
    margin: 0.5rem;
}

#carousel-buttons {
    height: 3rem;
}

/*styles for the welcome section*/
#welcome-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
}

#welcome-section p {
    text-align: left;
    margin: 0.5rem;
    width: 100%;
}

#welcome-section button {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 25px;
    border: 4px solid #F0CB83;
    text-transform: uppercase;
    margin: 0.5rem;
}


/*styles for the experiences section and divs*/
#experiences p {
    margin: 0.5px;
}

#experiences button {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 25px;
    border: 4px solid #e8e8e8;
    text-transform: uppercase;
    margin: 0.5rem;
}

#workshops {
    background-color: #b5d6a6;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
}

#courses {
    background-color: #c39afc;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
}

#events {
    background-color: #F0CB83;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
}

section img {
    height: 50vw;
    margin-top: 0.5rem;
}

/*styles for testimonials section*/
#testimonials p,
#testimonials i {
    margin: 0.5rem;
}


/*styles for contact page*/
/*contact message*/
#contact-message{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#contact-message h2 {
    border-color: #CEC1E0;
}

#contact-message p {
    width: 80vw;
    padding-top: 2rem;
    padding-left: 1rem;
}
/*email & phone*/
#email-phone {
    display: block;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
/*form*/
form {
    padding-left: 2rem;
    width: 80vw;
}

#name, #email, #subject, #message {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    max-width: 200px;
    margin-top: 0,5rem;
}

form button {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 25px;
    border: 4px solid #CEC1E0;
    text-transform: uppercase;
    margin: 0.5rem;
}

/*styles for footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

footer p {
    margin-left: 0.5rem;
}

#footer-separator {
    background-color: #CEC1E0;
    width: 100%;
    height: 1rem;
    align-self: flex-start;
}


#social-networks {
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #CEC1E0;
}

/*responsive layout*/
/*tablets 768px and up*/
@media screen and (min-width: 768px) {

    /* Header */
    /*blocks the amount of space for the logo*/
    #logo-container {
        max-width: 140px;
    }
    /*expands the menu container on the page*/
    #menu-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    /*shows the menu on a row, on top*/
    nav {
        display: flex;
        width: fit-content;
        order: 1;
        top: 0;
        left: auto;
        align-self: flex-end;
   }
  
   #menu{
    display: flex;
    list-style: none;
   }

/*brings the divider on the bottom*/
#separator {
    order: 3;    
}
/*hides the drop-down toggle*/
.nav-toggle-label {
    display: none;

}



/*laptops 1024px and up*/