/*Google Fonts Import - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Asterisk wildcard - removes standard styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}


.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}


/*left border with colour, for section headings*/
.left {
    border-left: 5px solid #F0CB83;
    padding: 0.5rem;
}

.center {
    text-align: center;
}


/*header styles*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /*keep it fixed on top and always visible*/
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}


/*makes the logo container max 50% of the screen on small screens, while menu-container takes all the remaining space*/
#logo-container {
    max-width: 160px;
}
#menu-container{
    display: flex;
    justify-content: flex-end;
}

/*makes the logo image fit into the logo-container*/
header img {
    width: 100%;
}


/*removes the standard link style*/
header a{
    text-decoration: none;
}

/*removes the bullets from the list*/
#menu {
    list-style: none;
}

#menu li {
    border-bottom: 1px solid #e8e8e8;
}

/*Navbar styles with dropdown toggle (hamburger meu)*/
nav {
    /* takes away from the normal flow and position nea to the ancestor=header and over the next=main content*/
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    /*top of the element (nav) starts at the bottom of the parent (header) - needed for the dropdown*/
    top: 100%;
}

/*Nav toggle = pseudoclass of checkboxes (checked) and apply to the sibling elements (nav) */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/*active class for navigation menu*/
.active {
    background-color: #CEC1E0;
}




/*Main content styles*/
main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*takes all the available vertical space of the page*/
    flex: 1 0 auto;
}
#carousel-welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
#carousel-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

}

#carousel-section img {
    width: 100%;
    border-radius: 35px;
}

#carousel-buttons {
    height: 3rem;
    padding: 0.5rem 0;
}

/*styles for the welcome section*/
#welcome-section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}

#welcome-section p {
    text-align: left;
    padding: 0.5rem;
}

.button-schedule {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 25px;
    border: 4px solid #F0CB83;
    text-transform: uppercase;
    margin: 0.5rem;
    text-decoration: none;
}


/*styles for the experiences section and divs*/
.experiences{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    align-items: center;
}
#workshops {
    background-color: #b5d6a6;
}

#courses {
    background-color: #c39afc;
}

#events {
    background-color: #F0CB83;
}

#experiences img {
    align-self: center;
    width: 80%;
    border-radius: 15px;
    margin-top: 0.5rem;
}

#experiences p {
    padding: 0.5rem;
}

.experiences-button {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 25px;
    border: 4px solid #e8e8e8;
    text-transform: uppercase;
    padding: 0.5rem;
    text-decoration: none;
}


/*styles for testimonials section*/
#testimonials {
    display: flex;
    flex-direction: column;
}

.testimonials-element{
    margin-top: 0.5rem;
}



#testimonials p, #testimonials i {
    padding: 0.5rem;
}

.testimonials-image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#testimonials img {
    max-width: 600px;
    width: 80%;
    padding: 0.5rem;
}

/*styles for contact page*/
/*contact message*/
#contact-message {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#contact-message h2 {
    border-color: #CEC1E0;
    margin-left: 1rem;
}

#contact-message p {
    padding: 1rem;
}

/*email & phone*/
#email-phone {
    display: block;
    padding: 2rem;
}

/*form*/
#form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.text-input    {
    width: 100%;
    height: 25px;
    border: 1px solid black;
    border-radius: 2px;
}

#message {
    width: 100%;
}


form button {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 25px;
    border: 4px solid #CEC1E0;
    text-transform: uppercase;
    margin: 0.5rem;
}

/*styles for the schedule page*/
/*picture & message with partners*/
#schedule-message-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

#schedule-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

#schedule-picture img {
    width: 100%;
    border-radius: 35px;
}

#schedule-message{
    padding: 0.5rem;
}

#schedule-message-text p{
    padding: 0.5rem;
}

#schedule-message-partners{
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: space-around;
    margin-bottom: 1rem;
}

/*schedule elements*/
.schedule-element{
    display: flex;
    flex-direction: column;
    border: #F0CB83 3px solid;
    border-radius: 35px;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    align-items: center;
}

.schedule-section p {
padding: 1rem;
}

.schedule-section h5 {
padding: 1rem;
}










/*styles for footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

footer p {
    margin-left: 0.5rem;
}

#footer-separator {
    background-color: #CEC1E0;
    width: 100%;
    height: 1rem;
    align-self: flex-start;
}


#social-networks {
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #CEC1E0;
}

/*responsive layout*/
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
/*Main content in multiple columns (2 or 3) depending on the section*/
    /*carousel and welcome side-by side*/
    #carousel-welcome-container {
        display: flex;
        flex-wrap: nowrap;
    }
    #welcome-section{
    flex: 50%;    }
    #carousel-section{
        flex: 50%;
    }
    #carousel-image{
        max-width: 700px;
        max-height: 700px;
    }


    /*Experiences, all on the same row*/
    #experiences-container {
        display: flex;
        flex-wrap: nowrap;
    }
    #experiences div {
        flex: 33.3%;    }

        /*Testimonials on two colums (text and image)*/
    #testimonials {
        display: flex;
        flex-direction: column;
    }

    .testimonials-element{
        display: flex;
        flex-direction: row;
    }
    
    .testimonials-text{
        flex: 50%;
    }

/*contact page has a maximum width and maintains the proportions*/
#contact-message{
    max-width: 50%;
}
#contact-form {
    max-width: 400px;
}


}