/*Google Fonts Import - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Asterisk wildcard - removes standard styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;

}

/*header styles*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*keep it fixed on top and always visible*/
    position: fixed;
    width: 100%;
    z-index: 100;
    align-items: flex-start;
    padding: 0 10px;
    background-color: white;
}

header div {
    width: 50%;
    height: 50px;
}
#logo-container{
    float: left;
    background-image: url(../images/ArtLoung3E_Logo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

}

/*Places the hamburger icon on the right end and style it*/
#menu-container {
    text-align: end;
    color: #CEC1E0;
}

/*Styles the header separator*/
header #separator {
    background-color: #CEC1E0;
    width: 100%;
    height: 15px;
    align-self: baseline;
}

/*Rmoves standard styles from the menu items*/
header a {
    text-decoration: none;
}

/*Navbar styles with dropdown toggle (hamburger menu)*/
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0px;
    display: none;
    /*starts at the end of the parent element (header)*/
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
    text-align: left;
}

.nav-toggle-label {
    font-size: 1.5rem;
    text-align: end;
}

/*eliminates the checkbox from the hamburger-menu icon*/
#nav-toggle {
    display: none;
}

/*Main content styles*/
main {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    /*takes all the available space of the page*/
    flex: 1 0 auto;
}

#carousel-section {
    
}
#carousel-image{
    height: 90vw;
    background-image: url(../images/Carousel_Image_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}    
#carousel-buttons{
    height: 50px;
}

#welcome-section {
    width: 100%;
    padding: 0 10px;

}

footer {
    background-color: lightgreen;
}